{%- if section.settings.message_richtext != blank -%}
  {%- if section.settings.announcement_border -%}
  <div class="row">
    <div class="container">
      {%- endif -%}
      <div class="clearfix announcement_header{%if section.settings.message_onm == false%} hidden-xs{% endif %}{%if section.settings.message_ont == false%} hidden-sm{% endif %}"
           style="{%- if section.settings.announcement_margin_top != blank -%}margin-top: {{section.settings.announcement_margin_top}};{%- endif -%}
                  {%- if section.settings.announcement_margin_bottom != blank -%}margin-bottom: {{section.settings.announcement_margin_bottom}};{%- endif -%}">
        {%- if section.settings.announcement_border %}
        <div class="text-border" style="color:{{section.settings.color_text}};background-color:{{section.settings.color_bg}}">
          {{section.settings.message_richtext }}
        </div>
        {%- else -%}        
        <div class="header-text text-center" style="color:{{section.settings.color_text}};background-color:{{section.settings.color_bg}}">
          {{section.settings.message_richtext}}
        </div>
        {%- endif -%}
      </div>
      {%- if section.settings.announcement_border -%}
    </div>
  </div>
  {%- endif -%}
{%- endif -%}