<div data-section-id="{{ section.id }}" id="Carousel-{{ section.id }}" data-section-type="carousel-section">
  <div class="{%- if section.settings.width_section -%} container{%- else -%} container-fluid{%- endif -%}">
    <div class="{%if section.settings.border_top%}line-top{% endif %}{%if section.settings.border_bottom%} line-bottom{% endif %}"
         style="{%- if section.settings.section_margin_top != blank -%}margin-top: {{section.settings.section_margin_top}};{%- endif -%}
                {%- if section.settings.section_margin_bottom != blank -%}margin-bottom: {{section.settings.section_margin_bottom}};{%- endif -%}
                {%- if section.settings.section_padding != blank -%}padding: {{section.settings.section_padding | replace : '-',' '}};{%- endif -%}float:left;width:100%">
      <div class="row">
        <div class="col-sm-12">
          <ul class="category-menu style3">
            {%- for i in (1..12) -%}
            {%- assign cat_icon = 'cat_icon' | append: i -%}
            {%- assign cat_collection = 'cat_collection' | append: i -%}
            {%- if settings[cat_collection] != blank or settings[cat_icon] -%}
            <li>
              <a href="/collections/{{settings[cat_collection]}}">
                <img src="{{settings[cat_icon] | img_url: 'small'}}" alt="icon {{settings[cat_collection]}}">
                <span class="title">{{settings[cat_collection] | capitalize | replace: '-', ' ' }}</span>
              </a>
            </li>
            {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Featured categories 3",
    "class": "index-section index-section--kt bt_categories3",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Featured categories",
        "info": "Customize name section (no display item preview)"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type":"checkbox",
        "id": "width_section",
        "label": "Max width section",
        "default": true,
        "info": "Max width = 1200px"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings Integer px ( top-right-bottom-left )",
        "info": "60px-60px-0-60px"
      },
      {
        "type": "checkbox",
        "id": "border_top",
        "label": "Use border top"
      },
      {
        "type": "checkbox",
        "id": "border_bottom",
        "label": "Use border bottom"
      }
    ],
    "presets": [
      {
        "name": "Featured categories 3",
        "category": "Collection"
      }
    ]
  }
{% endschema %}