{% layout none %}
<!-- sizeGuide_and_shipping -->
{%- include 'kt_product-sizeGuide' -%}
{%- include 'kt_product-shipping' -%}
<!-- sizeGuide_and_shipping -->
{%- assign settings_use_thumb = settings.qv_use_thumb -%}
{%-include 'kt_product_check'-%}
{%- include 'datajs-product-single', section_id: 'quickview-template' -%}
<div class="product-page product-inner product-layout-qv pid_{{product.id}}" itemscope itemtype="http://schema.org/Product" id="ProductSection-quickview-template" data-section-id="quickview-template" data-section-type="productQuickview" data-enable-history-state="false" data-product-id="{{ product.id }}" data-use-thumb="{{settings_use_thumb}}">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_thumb_size = '110x110' -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '1' -%}
  {%- assign enable_zoom = settings.enable_zoom -%}
  {%- assign settings_image_size = settings.qv_image_size -%}
  {% case settings_image_size %}
    {% when 'small' %}
      {%-assign product_image_width = 'col-lg-4 col-md-5 col-sm-5 col-xs-12'-%}
      {%-assign product_description_width = 'col-lg-8 col-md-7 col-sm-7 col-xs-12'-%}
      {%-assign product_image_size = '345x'-%}
      {%-assign vertical = "false"-%}
    {% when 'medium' %}
      {%-assign product_image_width = 'col-lg-6 col-md-6 col-sm-6 col-xs-12'-%}
      {%-assign product_description_width = 'col-lg-6 col-md-6 col-sm-6 col-xs-12'-%}
      {%-assign product_image_size = '530x'-%}
      {%-if settings.qv_use_thumb_vertical == true -%}
        {%-assign vertical = "true"-%}
      {%-else-%}
        {%-assign vertical = "false"-%}
      {%-endif-%}
    {% when 'large' %}
      {%-assign product_image_width = 'col-lg-7 col-md-7 col-sm-6 col-xs-12'-%}
      {%-assign product_description_width = 'col-lg-5 col-md-5 col-sm-6 col-xs-12'-%}
      {%-assign product_image_size = '720x'-%}
      {%-if settings.qv_use_thumb_vertical == true -%}
        {%-assign vertical = "true"-%}
      {%-else-%}
        {%-assign vertical = "false"-%}
      {%-endif-%}
    {% when 'full' %}
      {%-assign product_image_width = 'col-lg-12 col-md-12 col-sm-12 col-xs-12'-%}
      {%-assign product_description_width = 'col-lg-12 col-md-12 col-sm-12 col-xs-12'-%}
      {%-assign product_image_size = 'master'-%}
      {%-assign vertical = "false"-%}
  {% endcase %}
  {%- if settings_use_thumb == false -%}{%-assign use_thumb = "not_use--thumb"-%}{%-else-%}{%-assign use_thumb = "use--thumb"-%}{%- endif -%}  

  <div class="content-item">
    <div class="content-item-inner{%if settings.qv_product_layout == 'image_right'%} image_right{%endif%}{%if settings_image_size == 'full' %} image_full{% endif %} vertical_{{vertical|default:"false"}} {{use_thumb|default:true}}{% if product.available == false  %} outof--stock{% endif %}">
      <div class="product-images {{ product_image_width }}">
        <div class="product-detail-image {{settings.qv_thumbnail_alignment}}">
          <div class="images">
            <div class="loadingChangeImage" style="display:none"></div>
            <div class="btn-group">
              <button class="pe-7s-play kt_openvd_{{product.id}} hidden"></button>
              <button class="pe-360-degrees kt_open_{{product.id}} hidden"></button>
            </div>
            <div class="main-image main-image-wapper"{% if checkOneImage_ %} style="padding: 0;width: 100%;"{% endif %}>
              {%- assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src -%}
              {%- assign featured_img_size = featured_img_src.width | append: 'x' -%}
              {%- assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt -%}
              {% include 'kt_product_images', key: 'photo', section_id: 'quickview-template' %}
            </div>
            {%- if settings_use_thumb and settings_image_size != 'full' -%}
            <div id="product-thumb-slide" class="{% if vertical == "true" %}vertical-carousel{% endif %} thumbnails columns-4 productThumbSlide--quickview-template" data-vertical="{{vertical|default:"false"}}">
              {% include 'kt_product_images', key: 'thumbnail', section_id: 'quickview-template' %}
            </div>
            {%- endif -%}
            <script type="text/javascript">
              var initialSlide = {{active_photo_| default: 0}};
            </script>
          </div>
        </div>
      </div>

      <div class="{{ product_description_width }}">
        <div class="summary entry-summary product-details-right style1">
          <a href="{{ product.url }}"><h1 itemprop="name" class="product-name entry-title">{{ product.title }}</h1></a>
          <div class="rating">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
          <div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
            {%- assign settings_show_price = settings.show_price -%}
            <p class="price product-single__price product-single__price-quickview-template{% unless current_variant.available %} product-price--sold-out{% endunless %}{% if settings_show_price == false %} hidden{% endif %}">
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <ins class="product-price__price product-price__price-quickview-template">
                <span id="ProductPrice-quickview-template" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                  {{ current_variant.price | money }}
                </span>
              </ins>
              <del id="ComparePrice-quickview-template"{%unless current_variant.compare_at_price > current_variant.price %} class="hide"{% endunless %}>{{ current_variant.compare_at_price | money }}</del>
            </p>
            <div itemprop="description" class="short-description short-descript{%unless settings.qv_show_shortdes%} hidden {%endunless%}">
              {%- if product.metafields.meta.short_description -%}
              {{ product.metafields.meta.short_description }}
              {% elsif product.description contains  '[/short description]' %}
              {{ product.description | split: '[/short description]' | first | split: '[short description]'| last | html }}
              {%-else-%}
              {{ product.description | html }}
              {%-endif-%}
            </div>
            <!-- RYVIU APP -->
            <div class="ryviu-show-reviews" product-handle="{{product.handle}}">{{product.metafields.ryviu.reviews}}</div>
            <!-- / RYVIU APP -->
            <div class="action_when_fullwidth">
              <div class="product-addtocart">
                {% unless product.options.size == 1 and product.variants[0].title == 'Default Title'-%}
                {%-capture variantSoldout-%}
                {%-for option in product.options_with_values-%}
                    {%-for value in option.values-%}
                      {% if option.selected_value == value %}{% assign value_ = value | handleize %} {{'_'|append: value_}}{% endif-%}
                    {%-endfor-%}
                {%-endfor-%}
                {%-endcapture-%}
                {%-endunless-%}
                <div id="callBackVariant--quickview-template" class="{{variantSoldout}}">
                  {%- assign id = 'cart-form--quickview-template' -%}
                  {%- assign class = 'cart product-form product-form-quickview-template' -%}
                  {%- unless settings.show_variant_labels -%}
                  {%- assign class = class | append: ' product-form--hide-variant-labels' -%}
                  {%- endunless -%}
                  {% form 'product', product, id: id, class: class %}
                    {%-include 'kt_variants_options', section_id: 'quickview-template'-%}
                    <div class="product-form__item sw_large clearfix margin-0"></div>
                    {%-if linklists[product.handle].links.size > 0-%}
                    {%- include 'kt_product_group' -%}
                    {%-endif-%}
                    <div class="sw_large cart-form{% if nomargin %} nomargin{% endif %}">
                      {% if settings.show_quantity_selector %}
                      <div class="product-form__item--quantity{% if preOrder == false and sold_out %} hidden{% endif %}">
                        <span style="float: left;margin-top: 5px;margin-right: 5px;">{{ 'products.product.quantity' | t }}</span>
                        <div class="quantity">
                          <div class="quantity-inner">
                            <label for="Quantity" class="hidden">{{ 'products.product.quantity' | t }}</label>
                            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="input-text qty text">
                            <div class="quantity-nav">
                              <div class="quantity-button quantity-up"></div>
                              <div class="quantity-button quantity-down"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      {%- if settings.use_wishlist and pages[settings.page_wishlist].url != blank -%}
                      <div class="wishlist button" href="#">{%- include 't-wishlist-product' -%}</div>
                      {%- endif -%}
                      {%- if settings.use_compare-%}<a href="javascript:void(0);" class="button compare" data-pid="{{product.handle}}"><i class="icon-refresh"></i></a>{%- endif -%}
                    </div>
                    <div class="product-form__item product-form__item--submit">
                      {%- if product.metafields.purchase.on_link != blank %}
                      <a href="{{product.metafields.purchase.on_link | split: "]" | last }}" class="button button-add-cart out_site">
                        <span>{{product.metafields.purchase.on_link | split: "]" | first | remove: "["}}</span>
                      </a>
                      {%- else %}
                      <button type="button" onclick="Shopify.KT_addItemFromForm('cart-form--quickview-template');$(this).addClass('loading').removeClass('loaded')" name="add" id="AddToCart-quickview-template" {% unless sold_out == false  %}disabled="disabled"{% endunless %} class="button button-add-cart single_add_to_cart_button">
                        <span id="AddToCartText-quickview-template">
                          {%- if preOrder -%}
                          {{'products.product.pre_order'|t}}
                          {%- elsif sold_out == false -%}
                          {{'products.product.add_to_cart'|t}}
                          {%- else -%}
                          {{'products.product.sold_out'|t}}
                          {%- endif -%}
                        </span>
                      </button>
                      {% endif -%}
                      {% comment %}<div class="ttaddtocart{% if current_variant.price != 0 %} hidden{% endif %}">
                        <a href="tel:{{settings.top_phone_number}}">
                          <span class="exclusive phone"><span>{{ 'products.product.contact_button' | t }}</span> </span>
                        </a>
                      </div>{% endcomment %}
                    </div>
                    {%- if section.settings.use_d_c_b -%}
                      <div class="product-form__item product-form__item--submit shopifyPaymentButton"{%if product.available == false %} style="display: none;"{%endif%}>
                        {{ form | payment_button }}
                      </div>
                    {%- endif -%}
                  {%- endform -%}
                  {%- if preOrder and product.selected_or_first_available_variant.incoming -%}
                  <div class="clearfix"></div>
                  <div class="preOrder margin-bottom-20 clearfix"><span><em>*</em>{{'products.product.pre_order_text'|t}} {{product.selected_or_first_available_variant.next_incoming_date|date: '%B %d %Y'}}</span></div>
                  {%- endif -%}
                </div>
              </div>
              {% unless shipping_product == false %}
              <div class="shipping-product">
                <a href="#" data-target="#productShipping" data-toggle="modal" class="btn-modal">
                  <i class="pe-7s-rocket"></i>
                  <span>{{'products.product.shipping'|t}}</span>
                </a>
              </div>
              {% endunless %}
              {% unless size_guide == false %}
              <div class="size-chart">
                <a href="#" data-target="#sizeModal" data-toggle="modal" class="btn-modal">
                  <i class="pe-7s-scissors"></i>
                  <span>{{'products.product.size_chart'|t}}</span>
                </a>
              </div>
              {% endunless %}
              {%- if collection -%}
              {%- assign discountCode = collection.metafields.meta.discount -%}
              {%- elsif product.collections.first -%}
              {%- assign discountCode = collections[product.collections.first].metafields.meta.discount -%}
              {%- endif -%}
              {% if discountCode -%}
              <div class="discount-code">
                <div class="discount-desc">
                  {{discountCode | split: ']' | last | strip_newlines}}
                </div>
                <a class="discount-btn" href="/cart/{{product.selected_or_first_available_variant.id}}:1?discount={{discountCode | split: ']' | first | remove: '['}}">By now with code</a>
              </div>
              {%-endif %}
              {%-if settings.trust_image_prdsingle-%}
              <div class="text-center trust_image margin-top-20 margin-bottom-20">
                <img alt="{{settings.trust_image_.alt}}" src="{%-if settings.trust_image_-%}{{settings.trust_image_| img_url: 'master'}}{%-else-%}//cdn.shopify.com/s/files/1/2251/1247/files/cart_right_image_476x_3ae24d64-f086-424b-bf50-30e735bc69bc_476x.png?v=1506070564{%-endif-%}">
              </div>
              {%-endif-%}
              <table class="product_meta">
                <tbody>
                  {%- if settings.use_inventory_management -%}
                  {%- assign show_iq = false -%}
                  {%- if current_variant.inventory_quantity < 15 and current_variant.inventory_management %}{%-assign show_iq = true-%}{%- endif -%}
                  {%- unless current_variant.inventory_quantity == 0 and product.has_only_default_variant -%}
                  <tr class="availalbe_wrapper meta">
                    <td class="title_wrapper">{{'products.product.availalbe'|t}}:</td>
                    <td>
                    <span class="show-iq{% if show_iq == false %} hidden{% endif %}">{% if show_iq %}{{'products.product.only_left_short_text_html'|t: count: current_variant.inventory_quantity}}{% endif %}
                    </span>
                    <span class="show-iq_{% if show_iq == false %} min{% endif %}">
                      <span class="availalbe text-primary">{% if current_variant.available %}{{'products.product.in_stock'|t}}{% else %}{{'products.product.out_of_stock'|t}}{% endif %}</span>
                    </span>
                    </td>
                  </tr>
                  {%- elsif product.has_only_default_variant -%}
                  <tr class="availalbe_wrapper meta">
                    <td class="title_wrapper">{{'products.product.availalbe'|t}}:</td>
                    <td>
                      <span class="availalbe text-primary">{% if product.available %}{{'products.product.in_stock'|t}}{% else %}{{'products.product.out_of_stock'|t}}{% endif %}</span>
                    </td>
                  </tr>
                  {%- endunless -%}
                  {%- endif -%}

                  {%- assign settings_show_type = settings.show_type -%}
                  {% if settings_show_type and product.type != blank %}
                  <tr class="type_wrapper"><td class="title_wrapper">{{'products.product.type'|t}}:</td> <td><span>{{ product.type | link_to_type }}</span></td></tr>
                  {%-endif %}
                  {%- assign settings_show_sku = settings.show_sku -%}
                  {% if settings_show_sku and current_variant.sku != blank %}
                  <tr class="sku_wrapper"><td class="title_wrapper">{{'products.product.sku'|t}}:</td> <td><span class="sku variant-sku">{{current_variant.sku}}</span></td></tr>
                  {%-endif %}
                  {%- assign settings_show_vendor = settings.show_vendor -%}
                  {% if settings_show_vendor %}
                  <tr class="product-single__vendor"><td class="title_wrapper">{{'products.product.vendor'|t}}:</td> <td><span>{{ product.vendor | link_to_vendor }}</span></td></tr>
                  {% endif %}
                  {%- assign settings_show_categories = settings.show_categories -%}
                  {% if settings_show_categories and product.collections.size > 0 %}
                  <tr class="posted_in"><td class="title_wrapper">{{'products.product.categories'|t}}:</td> <td>
                    {% for collection_ in product.collections%}
                    <a href="{{collection_.url}}" rel="tag">{{collection_.title}}</a>{%unless forloop.last%}, {% endunless %}
                    {%-endfor %}</td>
                  </tr>
                  {%-endif %}
                  {%- assign settings_show_tags = settings.show_tags -%}
                  {% if settings_show_tags and product.tags.size > 0 %}
                  <tr class="tagged_as"><td class="title_wrapper">{{'products.product.tags'|t}}:</td> <td>
                    {% for tag in product.tags-%}
                    <a href="{{collection.url|default: '/collections/all'}}?q=tag_{{tag|handleize}}" rel="tag">{{ tag }}</a>{%unless forloop.last%}, {% endunless %}
                    {%-endfor %}</td>
                  </tr>
                  {%-endif %}
                  {% if settings.show_share_buttons %}
                  <tr class="social_share">
                    <td class="title_wrapper">{{'general.social.title'|t}}:</td> 
                    <td>
                      {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product, style: 'social-share' %}
                    </td>
                  </tr>
                  {%-endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% unless product == empty %}
<script type="application/json" id="ProductJson-quickview-template">
    {{ product | json }}
</script>
{% include 'kt_check_variant' %}
{% endunless %}
